@import "./reset.css";

header, main {
    width: 85%;
    margin-left: 15%;
}

.list-nav {
    list-style-type: none;
}

.options-nav:active {
    color: rgb(132, 75, 173);
}

a {
    color: #1c0b2b;
    text-decoration: none;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: block;
    color: #1c0b2b;
    width: 100%;
    height: 100%;
}

.img-footer {
    width: 1.2rem;
    margin-right: 100px;
}

footer ul {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: flex-end;
}

.info-footer {
    display: grid;
    grid-template-columns:10% 95% ;
}

footer {
    margin: 10rem 0 0 15%;
    font-size: 1.2rem;
    padding: 4rem;
    width: calc(85% - 6rem); 
    background-color: #dcf7f3;
    /* display: flex;  */
}

nav {
    padding: 6rem 1rem 0 1rem;
    font-size: 1.2rem;
    /* padding-top: 6rem; */
    left: 0;
    top: 0;
    background-color: #a8bdf8;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: calc(15% - 2rem);
    /* padding: 20px; */
}

.ul-nav {
    display: flex;
    align-items: flex-start;
    /* justify-content: center; */
    flex-direction: column;
}

.links-nav {
    font-size: 1.1rem;
}

header {
    text-align: center;
}

.logo-home-header {
    width: 5rem;
    height: 5rem;
}

.logo-about-header, .logo-time-header, .logo-contact.html {
    width: 15rem;
    height: 5rem;
}

.img-nav {
    width: 1.3rem;
    margin-right: 0.2rem;
}

.title-about, .title-home {
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 2rem;
    margin-top: 1.5rem;
}

.attribute-about {
    padding: 0 0 2rem 0;
    font-size: 1.3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.attribute-about h2 {
    padding-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
}
.attribute-about p {
    padding-top: 1rem;
}

.info-attribute-about {
    margin: 1rem;
    border: solid 2px #301c41;
    border-radius: 10px;
}
.info-attribute-about p {
    padding: 1rem;
    font-size: 1.2rem;
}

.info-about, .text-one-home, .text-table-time{
    font-size: 1.5rem;
    padding: 2rem 2rem;
}

.text-two-home, .text-end-home {
    font-size: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.text-end-home {
    padding-top: 3rem;
    text-align: center;
    
}

.title-home {
    text-align: center;
}

table, th, td {
    text-align: center;
    padding: 10px;
    border: solid 1px black;
}

.table {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}
.table caption {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

table thead {
    font-weight: bold;
    background-color: #d3dbf1;
}
